/* Header css*/
body {
	line-height: 24px;
	font-size: 14px;
}

header {
	background-color: #ffffff;
	width: 100%;
	border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.15);
}

footer {
	background: none repeat scroll 0 0 #15a28e;
    color: #fff;
    font-size: 12px;
    height: 80px;
    line-height: 80px;
    margin-top: 60px;
}

.top-info {
	background-color: #b1b1b1;
}

.column-10 {
	width: 85%;
}

.column-2 {
	width: 15%;
}

.style-text {
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    padding: 8px 18px;
    position: relative;
}

/* hidden vs show class*/
@media (max-width: 767px) {
	.hidden {
		display: none;
	}
}

@media (max-width: 991px) {
	.hidden-991 {
		display: none;
	}
}

@media (min-width: 991px) {
	.show-991 {
		display: none;
	}
}

/* 2 dau { vs }*/
.style-text::before {
	color: #15a28e;
    content: "{";
    display: block;
    float: left;
    font-size: 24px;
    font-weight: 700;
    left: 0;
    margin-right: 6px;
    position: absolute;
    top: 5px;
    width: 15px;
}

.style-text:after {
	bottom: 10px;
    color: #15a28e;
    content: "}";
    display: block;
    float: right;
    font-size: 24px;
    font-weight: 700;
    margin-left: 6px;
    position: absolute;
    right: 0;
    width: 15px;
}

.yellow-text {
	color: #FFC20E;
}

a:hover {
	cursor: pointer;
}

/* img MonstarLab */
.media {
	padding-top: 10px;
    width: 265px;
    padding-bottom: 7px;
}

/* Menu css */
.style-list {
	font-family: "Open Sans Condensed",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.style-list a {
	padding-left: 15px;
    padding-right: 7px;
    color: #555;
}

.style-list a:hover {
	text-decoration: none;
	color: #15a28e;
}

/* drop down css*/
.dropdown {
	margin-top: 30px;
}

.dropdown .fas {
	font-size: 25px;
	color: #555;
}

.dropdown .fas:hover, .dropdown .dropdown-menu a:hover {
	color: #15a28e;
}

.dropdown .dropdown-menu {
	font-size: 14px;
	line-height: 1.25;
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

/*test effect*/
.cl-effect-13 a.active, .cl-effect-13 a:focus, .cl-effect-13 a:hover {
    color: #15a28e;
}

a.active, a:hover {
    color: #15a28e;
    text-decoration: none;
}

.cl-effect-13 a:focus:before, .cl-effect-13 a:hover:before {
    color: #15a28e;
    text-shadow: 10px 0 #15a28e, -10px 0 #15a28e;
}

.cl-effect-13 a {
    transition: color 0.3s ease 0s;
}

 a::before {
    color: transparent;
    content: "•";
    font-size: 1.2em;
    left: 48%;
    pointer-events: none;
    position: absolute;
    text-shadow: transparent 0px 0px;
    top: 89px;
    transform: translateX(-50%);
    transition: text-shadow 0.3s ease 0s, color 0.3s ease 0s;
}

/* Slide css */
.slide {
	background-size: cover;
    margin-top: 100px;
    width: 100%;
}

/* img in slide */
.carousel-inner img {
      width: 100%;
      height: 100%;
  }

/* lam vien den den */
.carousel-control-prev{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
}

.carousel-control-next {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
    left: auto;
    right: 0;
}

/* 2 prev vs next icon */
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 767px) {
	.carousel-control-prev-icon, .carousel-control-next-icon {
		width: 20px;
   		height: 20px;
	}
}

/* Cac icon "o o o o o"  */
.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    height: 10px;
    width: 10px;
}

.carousel-indicators .active {
	background-color: white;
    height: 12px;
    width: 12px;
}

/* introduce css*/
.introduce {
	border-bottom: medium none;
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    margin: 80px auto;
    text-align: center;
}

.introduce a {
	color: #555;
}

.introduce a:hover {
	text-decoration: none;
	color: #15a28e;
}

h2 {
	font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

.hr {
	background: none repeat scroll 0 0 #15a28e;
    border: medium none;
    display: block;
    height: 3px;
    margin: 20px auto;
    width: 50px;
}


/* core-team css - tao border tron */

.mission span {
	display: inline-block;
    width: 168px;
    height: 168px;
    background-color: #fff;
    padding-top: 7px;
    border: 3px solid #fff;
    -webkit-transition:  border 0.8s ease-in-out; /* Safari */
    transition: border 0.8s ease-in-out;
}

.mission span:hover {
	border: 3px solid #CFCFCF;
}

.title {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #555;
    margin: 24px 0 12px;
}

/* ceo interview*/
.ceo-interview {
	background: url('../img/Japan_Vietnam_Locator.png') no-repeat right;
	background-attachment: local;
	background-size: cover;
	margin-top: 100px;
}

.ceo-interview .row {
	margin: -40px 0 80px;
}
.opacity {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	height: 100%;
}

.ceo-interview .introduce {
	padding-top: 80px;
}

.font-size-16 {
	font-size: 16px;
}

.font-size-18 {
	font-size: 18px;
}

.font-weight-700 {
	font-weight: 700;
}

.ceo-interview .col-lg-6 ul {
	list-style-type: none;
}


.ceo-interview .col-lg-6 ul li, .margin-20{
	margin: 20px 0;
}

.job {
	background: url(../img/congviec2.jpg) no-repeat fixed;
	background-size: cover;
}

.job-opacity {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    color: #f2f2f2;
}


.job .introduce {
	margin: 0 auto;
	padding: 80px 0;
}

/* job css */
.picture {
	background-size: cover;
	height: 420px;
}

.picture1 {
	background-image: url(../img/duan-business.jpg);
}

.picture2 {
	background-image: url(../img/duan-web.jpg);
}

.picture3 {
	background-image: url(../img/duan-mobile-1.jpg);
}

.picture4 {
	background-image: url(../img/duan-cloud.jpeg);
}

.padding-10px {
	padding-top: 10px;
	padding-bottom: 10px;
}

.project {
	margin-bottom: 80px;
    overflow: hidden;
}
.project .row-fluid {
	clear:both;
}

.project .row-fluid h3 {
	font-family: "Open Sans Condensed",sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.width-80-percent {
	width: 80%;
}

.customer {
	clear: both;
    background: #f4f4f4;
}

.customer .introduce {
	padding-top: 80px;
	padding-bottom: 80px;
}

ul.our-clients {
	padding: 40px 0 0 30px;
    line-height: 0;
}

ul.our-clients img {
	display: inline-block;
    height: 95px;
    padding: 15px;
    position: relative;
    text-align: center;
    z-index: 10;
    max-width: 100%;
}

ul.our-clients li {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    border-radius: 2px !important;
    margin: 5px 5px 4px;
    position: relative;
    text-align: center;
    overflow: hidden;
    float: left;
    vertical-align: middle;
    width: 15.5%;
}

@media (max-width: 991px) {
	ul.our-clients li {
		width: 30%;
	}
}

.important-member h4 {
	font-size: 18px;
    margin: 24px 0 12px;
}

.btn-info {
    background-color: #0d6155;
    margin-top: 20px;
    margin-bottom: 80px;
}

.btn-info:hover {
    background-color: #18c7ae !important;
    border-color: #15a28e;
    color: #fff;
}

.back-ground-pink {
	background: none repeat scroll 0 0 #fcf7e7;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}


/* tin tuc css */

.head-line {
	margin-bottom: 24px;
	border-bottom: 1px dotted #e4e9f0;
}

#tintuc h4, #lienhe h4 {
	border-bottom: 2px solid #15a28e;
    display: inline-block;
    margin: 0 0 -2px;
    padding-right: 10px;
    text-shadow: 0 0 1px #f6f6f6;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 20px;
}
#tintuc .col-lg-6 {
	margin-bottom: 20px;
}

#tintuc .text {
    font-family: "Helvetica Neue",sans-serif;
    margin-top: 6px;
}

#tintuc .cover-img {
  object-fit: cover;
}

#tintuc .event-date {
	background: none repeat scroll 0 0 #15a28e;
    border-color: #3b3b3b;
    color: #fff;
    display: block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    outline-color: #626262;
    overflow: hidden;
    padding: 0 6px;
    margin-right: 10px;
    width: 80px;
}

#tintuc .tin-moi {
	clear: both;
	padding: 6px 12px;
}

/* tuyen dung css */
#tuyendung {
    background: url(../img/tuyendung.jpg) no-repeat fixed right top rgba(0, 0, 0, 0);
}

#tuyendung .col-lg-3 {
	margin-bottom: 15px;
}

#tuyendung .item {
	background: none repeat scroll 0 0 #fff;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}

#tuyendung .item img {
	margin-bottom: 10px;
}


#lienhe iframe {
	border:0; 
	margin: -50px 0 30px;
}

.margin-left-102 {
	margin-left: 102px;
}

#lienhe .info {
	border-left: 5px solid #eee;
    color: #555;
    font-size: 13px;
    margin: 0 0 35px;
    padding: 10px 20px;
}

#lienhe .small {
	line-height: 1.42857;
	font-size: 85%;
}

.form-control:focus {
	border-color: #15a28e;
    outline: 0;
    box-shadow: 0 0 8px rgba(254, 191, 0, 0.6);
    border-radius: -1px;
}

.help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    line-height: 24px;
}

p {
    margin: 0 0 10px;
}

.yel-text {
    color: #15a28e;
    font-size: 13px;
}
.yel-text a {
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
}
.button {
    color: #333;
    cursor: pointer;
    border-width: 2px;
    padding: 0 8px;
    text-align: center;
    align-items: flex-start;
    font-size: 14px;
    
 }

.error {
    border-color: #CD0000;
}

.form-control1 {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

textarea.form-control1 {
    height: auto;
}